
/*  Delicious font  */
h1 {
  font-family: 'Yellowtail', cursive;
}

/* THE BEST BLOG ON THE WEB*/
h3 {
  font-family: 'Abel', sans-serif;
}

 /*chocolate pizza font */
h2 {
  font-family: 'Oswald', sans-serif;
}

/* storeowner font */
h4 {
  font-family: sans-serif;
  font-size: 20px;
  font-weight:bold;
  color: grey;
}

ul {
  text-align: center;
  color: lightgrey;
  list-style: none;
}


/* ingredient list */
fieldset {
  border: none;
  padding: 1em;
  float: left;
  font-family: 'Delius';
  color: grey;
  opacity: 1000;

}

/* share button */
.share {
  background-color: #f44336;
  color: white;
  width: 60%;
  display: inline;
  overflow: auto;
  white-space: nowrap;
  margin: 0px auto;
}

/* bottom logo */
#logo {
    display: block;
    margin: auto;
}
